@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$cyan-palette,
  ),
  typography: (
    brand-family: 'Google Sans, Roboto, sans-serif',
    plain-family: 'Roboto, sans-serif',
    bold-weight: 900,
    medium-weight: 700,
    regular-weight: 500,
  ),
));

$violet_mode: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette,
    tertiary: mat.$red-palette,
  ),
));

$azure_mode: mat.define-theme((
  color: (
    primary: mat.$azure-palette,
    tertiary: mat.$red-palette,
  ),
));

$rose_mode: mat.define-theme((
  color: (
    primary: mat.$rose-palette,
    tertiary: mat.$red-palette,
  ),
));

html {
  height: 100%;
  margin: 0;
  padding: 0;
  color-scheme: light;

  h1 {
    font-size: 1.875rem
  }

  h2 {
    font-size: 1.75rem
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  @include mat.all-component-typographies($light-theme);
  @include mat.all-component-densities($light-theme);
  @include mat.system-classes();
  --mat-sys-surface: #faf9fd;


  & > body.light-theme {
    @include mat.all-component-colors($light-theme);

    .mat-tertiary {
      @include mat.button-color($light-theme, $color-variant: tertiary);
    }

    .mat-secondary {
      @include mat.button-color($light-theme, $color-variant: secondary);
    }

    .mat-error {
      @include mat.button-color($light-theme, $color-variant: error);
    }

  }
}

:root {
  --sidebar-width-expanded: 280px;
  --sidebar-width-collapsed: 60px;

  --z-elevated-9999: 9999;
  // material
  --mat-sys-corner-extra-small: 4px;
  --mat-sys-corner-small: 8px;
}


@media (width <= 1007px) {
  :root {
    --sidebar-width-expanded: 0;
    --sidebar-width-collapsed: 0;
  }
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;

  &.violet_mode {
    @include mat.all-component-colors($violet_mode);
  }

  &.azure_mode {
    @include mat.all-component-colors($azure_mode);
  }

  &.rose_mode {
    @include mat.all-component-colors($rose_mode);
  }

}
