<div class="p-3 flex flex-col gap-2">
  <mat-form-field [class.hidden!]="!showSimpleFilter()" appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Ex. Mia" (keyup)="applyFilter($event)" #input />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource()" (matSortChange)="onSortTable($event)">
      @for (item of columnsConfig(); track item.field; let lastItem = $last) {
        <ng-container [matColumnDef]="item.field">
          <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            [disableClear]="true"
            [disabled]="item.field === 'id'"
          >
            {{ item.header | translate }}
          </th>
          <td *matCellDef="let row" mat-cell>{{ row[item.field] }}</td>
        </ng-container>
        @if (actionsConfig() && lastItem) {
          <ng-container matColumnDef="id">
            <th
              *matHeaderCellDef
              mat-header-cell
              mat-sort-header
              [disableClear]="true"
              [disabled]="true"
            >
              {{ '' }}
            </th>
            <td *matCellDef="let row" mat-cell>
              <mat-icon svgIcon="person" />
            </td>
          </ng-container>
        }
      }
      <tr *matHeaderRowDef="columnsField()" mat-header-row></tr>
      <tr *matRowDef="let row; columns: columnsField()" mat-row></tr>

      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
      </tr>
    </table>
    <mat-paginator
      [hidePageSize]="true"
      [length]="dataSource().data.length"
      [pageSize]="DESKTOP_MAX_ROWS"
      aria-label="Select page"
      (page)="onChangePaginatorPage($event)"
    />
  </div>
</div>
