<div class="p-3 flex flex-col gap-2">
  <mat-form-field [class.hidden!]="!showSimpleFilter()" appearance="outline">
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Ex. Mia" (keyup)="applyFilter($event)" #input />
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource()" (matSortChange)="onSortTable($event)" #tableRefMat>
      @for (item of columnsConfig(); track item.field; let lastItem = $last) {
        <ng-container [matColumnDef]="item.field">
          <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            [class]="getColumnWidth(item.grow)"
            [disableClear]="true"
            [disabled]="item.field === 'id'"
          >
            {{ item.header | translate }}
          </th>
          <td *matCellDef="let row" mat-cell [class]="getColumnWidth(item.grow)">
            {{ row[item.field] }}
          </td>
        </ng-container>
        @if (actionsConfig().length > 0 && lastItem) {
          <ng-container matColumnDef="id">
            <th
              *matHeaderCellDef
              mat-header-cell
              mat-sort-header
              [class]="getColumnWidth(actionColWidth())"
              [disableClear]="true"
              [disabled]="true"
            ></th>
            <td
              *matCellDef="let row"
              mat-cell
              [class]="cn(getColumnWidth(actionColWidth()), 'text-center!')"
            >
              <button
                matIconButton
                [matMenuTriggerFor]="menu"
                class="min-w-8! min-h-8! size-8! rounded-full! grid place-content-center p-0!"
                type="button"
              >
                <mat-icon svgIcon="more_vert" class="m-0!" />
              </button>
              <mat-menu
                xPosition="before"
                yPosition="above"
                class="[&>.mat-mdc-menu-content]:py-0!"
                #menu="matMenu"
              >
                @for (actionItem of actionFullConfig(); track actionItem.type) {
                  <button mat-menu-item class="max-h-8">
                    <mat-icon [svgIcon]="actionItem.icon" />
                    <span class="font-medium! text-sm!">{{ actionItem.label | translate }}</span>
                  </button>
                }
              </mat-menu>
            </td>
          </ng-container>
        }
      }
      <tr *matHeaderRowDef="columnsField()" mat-header-row></tr>
      <tr *matRowDef="let row; columns: columnsField()" mat-row></tr>

      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
      </tr>
    </table>
    <mat-paginator
      [hidePageSize]="true"
      [length]="dataSource().data.length"
      [pageSize]="DESKTOP_MAX_ROWS"
      aria-label="Select page"
      (page)="onChangePaginatorPage($event)"
    />
  </div>
</div>
